h1 {
    font-size: 40px;
    margin-bottom: 15px;
    margin-top: 0;
}

.fundacao {
    font-style: italic;
}

hr {
    background-color: brown;
    border-color: brown;
    height: 2px;
}

h1,
h2 {
    font-family: Impact, serif;
}

h1,
h2,
p {
    text-align: center;
}

h2 {
    font-size: 30px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px;
}

.itens p {
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.sabor,
.sobremesa {
    text-align: left;
    width: 75%;
}

.preco {
    text-align: right;
    width: 25%;
}

.linha-de-baixo {
    margin-top: 25px;
}

/* Rodapé */

footer {
    font-size: 14px;
}

.texto-rodape {
    margin-bottom: 5px;
}

a {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: brown;
}

a:active {
    color: brown;
}